* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/background.webp);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0
}

section {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
  }
  
  form button {
    border: none;
    background-color: #3e12ff;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
  }

.imc{
    display: flex;
    justify-content: space-around;
}